* {box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgba(109, 135, 220, 0.327)
}
 

table{
	margin-top: 50px;
	text-align: center;
	background: rgb(93, 182, 227);
	color: #fff;
}
 
#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}